.plot {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.menu-item {
  width: 20%;
  color: #1321bf;
}

.menu-item-active {
  width: 20%;
  color: darkorange;
  background-color: aqua;
  font-weight: 800;
}

.table {
  text-align: center;
  margin: auto;
  width: 500px;
  height: 500px;
}

.listItem {
  background-color: lightblue;
}

.messages-place {
  height: 130px;
}

.pag {
  text-align: center;
  margin-top: 10px;
  background-color: none;
  height: 40px;
  width: 40px;
  display: table-cell;
  line-height: 40px;
  user-select: none;
}

.pag-active {
  background-color: greenyellow;
  text-decoration: none;
}

.pag:hover {
  animation: onHover;
  background-color: blanchedalmond;
  cursor: default;
  transition: 1.5s;
}

.pagination {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1024px) {
  .plot {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .table {
    margin: auto;
    width: 150px;
    height: 150px;
  }
}