.popup-menu__container{
    font-family: "Open Sans", sans-serif;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #d9d9d954;
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
}

.popup-menu__block{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    height: auto;
    width: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.popup-menu__block_header{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.popup-menu__block_footer{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    flex-direction: row;
}

.popup-menu__crose{
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
    /* width: 40px; */
    height: -webkit-fill-available;
    align-items: center;
    cursor: pointer;
}