.logo {
    height: 10vh;
    margin-top: 0%;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .mainimage {
    position: absolute;
    top: 1.5%;
    left: 11%;
  }
  
  .maintext {
    left: 0%;
    text-align: center;
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    width: 100%;
    height: inherit;
  }

  @media (max-width: 1280px) {
    .logo {
      font-size: 75%;
      margin-top: 0%;
    }

  }

  @media (max-width: 1024px) {
    .logo {
      font-size: 55%;
      height: 10vh;
    }
    .mainimage {
      display: block;
      top: 2px;
      left: 2%;
      height: 100px;
      width: 100px;
    }
    .maintext{
      display: none;
    }
  }