.logo {
    height: 10vh;
    margin-top: 0%;
    cursor: pointer;
    display: grid;
    font-family: "Open Sans", sans-serif;
    grid-template-columns: auto 70% 15%;
    grid-template-rows: 100%;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .mainimage {
    width: 80%;
    height: 100%;
    justify-content: start;  
  }
  
  .maintext {
    text-align: center;
    align-content: center;
    
    font-weight: 700;
    width: 100%;
    height: inherit;
  }

  .log__block {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: medium;
    justify-content: space-evenly;
  }

  .user__info__label {
    text-align: center;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    width: 100%;
    height: inherit;
    cursor: pointer;
  }

  @media (max-width: 1280px) {
    .logo {
      font-size: 75%;
      margin-top: 0%;
    }

  }

  @media (max-width: 1024px) {
    .logo {
      font-size: 55%;
      height: 10vh;
    }
    .mainimage {
      display: block;
      top: 2px;
      left: 2%;
      height: 100px;
      width: 100px;
    }
    .maintext{
      display: none;
    }
  }