.info__label {
    visibility: hidden; /* Скрыто по умолчанию. Видимый по щелчку мыши */
    min-width: 250px; /* Установите минимальную ширину по умолчанию */
    background-color: #00608a; /* Черный цвет фона */
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 30px;
}

.negative {

}

.positive {

}

.show {
    visibility: visible; /* Покажите снэк-бар */
    /* Добавить анимацию: Возьмите 0,5 секунды, чтобы исчезать и выходить.
    Задержим процесс затухания на 2,5 секунды */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 1s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }