.news__elements__block {
    display: inline-flex;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    min-height: 300px;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    gap: 2px;
    align-items: center;
}

.news__block__elem {
    display: grid;
    width: 600px;
    min-height: 300px;
    height: 100%;
    border: solid 1px #00608a;
    align-content: space-between;
}

.prev__img__list {
    margin-top: 2px;
    display: block;
    width: auto;
    max-width: 600px;
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.prev__short__body__list {
    margin-top: 0%;
    text-align: center;
    margin-bottom: 0%;
    font-size: large;
}