.calendar__common {
    font-family: "Open Sans", sans-serif;
}

.calendar__title {
    text-align: center;
}

.calendar__date__headers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    height: 3vh;
}

.calendar__date__title {
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    text-align: center;
    align-content: center;
    border: 1px black solid;
}

.calendar__date__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.calendar__date__items__rows {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
}

.calendar__time__item {
    width: 100%;
    height: 4vh;
    background-color: rgb(39, 187, 71);
    cursor: pointer;
    margin: 0px 0px 0px 0px;
    border: 1px black solid;
    text-align: center;
    align-content: center;
}

.selected{
    background-color: rgba(38, 0, 255, 0.329);
}

.not__avaliable {
    background-color: rgb(255, 255, 255);
}

.btn__confirm {
    margin: 0 auto;
    display: block;
}

@media (max-width: 1024px) {
    .calendar__date__items {
        grid-column-gap: 0;
    }
    .calendar__date__headers {
        grid-column-gap: 0;
    }
}